.navbar {
    overflow: hidden;
    background-color: #db5050;
    top:0px;
    right:0px;
    margin:0px;
    width:100%;
    display:block;
    position:fixed;
    z-index:2;
}

.navbar a {
    float: right;
    font-size: 16px;
    color: #1E6969;
    text-align: center;
    /*padding: 14px 16px;*/
    padding:0px 0px;
    text-decoration: none;
    top:0px;
    right:0px;
    margin:0px;
    /*position:absolute;*/
}

.dropdown {
    float: right;
    overflow: hidden;
}

.icon {
    float: left;
    font-size:16px;
    outline: none;
    color:#ededed;
    padding:14px 16px;
    background-color:inherit;
    min-width:16px;
    margin: 0;
    left:0px;
    border:none;
    position:fixed;
    z-index:2;
    text-align:center;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #ededed;
    padding: 14px 16px;
    background-color: inherit;
    min-width:160px;
    margin: 0;
    cursor:pointer;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ce7777;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #454545;
    min-width: 160px;
    color:#ededed;
    z-index: 3;
}

.dropdown-content a {
    float: none;
    color: #ededed;
    padding: 12px 16px;
    text-decoration: none;
    /*background-color:#454545;*/
    background-color:#787878;
    display: block;
    text-align: center;
    z-index: 2;
    /*min-height:130px;*/
}

.dropdown-content a:hover {
    background-color: #525252;
    display:block;
    z-index: 2;
    color:#ededed;
    /*min-height:130px;*/
}

.dropdown:hover .dropdown-content {
    display: block;
    z-index:2;
    color:#ededed;
}
.text {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 16px;
  position: absolute;
  top: 50px; 
}